# EditorConfig is awesome: https://EditorConfig.org
#
# default editorconfig set ~/ to symlink

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true

# default character-set
charset = utf-8

# indent style
indent_size = tab
indent_style = tab
tab_width=4

### VS Code
[*workspace]
tab_width = 4


### textlint,etc

[*.rc]
indent_style = space
tab_width = 2

[*.{json,yml]
indent_style = tab
tab_width = 4

