# EditorConfig is awesome: https://EditorConfig.org
#
# default editorconfig set ~/ to symlink

# top-most EditorConfig file
# root = true

### Powershell Script
[*.ps1]

# indent
indent_size = 2
indent_style = space


### VS Code
[*workspace]
tab_width = 4


